# Segmenting and Clustering Neighborhoods in Toronto

## 1. Create a DataFrame with PostalCode, Borough, and Neighborhood

In [1]:
#Import libraries
import pandas as pd
import numpy as np

### Scrape web for Toronto postal codes

In [2]:
#Use pandas to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M (postal codes for Toronto)
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
scrape_of_postal_codes = pd.read_html(url)
scrape_of_postal_codes

[    Postal Code           Borough  \
 0           M1A      Not assigned
 1           M2A      Not assigned
 2           M3A        North York
 3           M4A        North York
 4           M5A  Downtown Toronto
 5           M6A        North York
 6           M7A  Downtown Toronto
 7           M8A      Not assigned
 8           M9A         Etobicoke
 9           M1B       Scarborough
 10          M2B      Not assigned
 11          M3B        North York
 12          M4B         East York
 13          M5B  Downtown Toronto
 14          M6B        North York
 15          M7B      Not assigned
 16          M8B      Not assigned
 17          M9B         Etobicoke
 18          M1C       Scarborough
 19          M2C      Not assigned
 20          M3C        North York
 21          M4C         East York
 22          M5C  Downtown Toronto
 23          M6C              York
 24          M7C      Not assigned
 25          M8C      Not assigned
 26          M9C         Etobicoke
 27          M1E       Scarborough
 28          M2E      Not assigned
 29          M3E      Not assigned
 ..          ...               ...
 150         M7W      Not assigned
 151         M8W         Etobicoke
 152         M9W         Etobicoke
 153         M1X       Scarborough
 154         M2X      Not assigned
 155         M3X      Not assigned
 156         M4X  Downtown Toronto
 157         M5X  Downtown Toronto
 158         M6X      Not assigned
 159         M7X      Not assigned
 160         M8X         Etobicoke
 161         M9X      Not assigned
 162         M1Y      Not assigned
 163         M2Y      Not assigned
 164         M3Y      Not assigned
 165         M4Y  Downtown Toronto
 166         M5Y      Not assigned
 167         M6Y      Not assigned
 168         M7Y      East Toronto
 169         M8Y         Etobicoke
 170         M9Y      Not assigned
 171         M1Z      Not assigned
 172         M2Z      Not assigned
 173         M3Z      Not assigned
 174         M4Z      Not assigned
 175         M5Z      Not assigned
 176         M6Z      Not assigned
 177         M7Z      Not assigned
 178         M8Z         Etobicoke
 179         M9Z      Not assigned

                                          Neighbourhood
 0                                         Not assigned
 1                                         Not assigned
 2                                            Parkwoods
 3                                     Victoria Village
 4                            Regent Park, Harbourfront
 5                     Lawrence Manor, Lawrence Heights
 6          Queen's Park, Ontario Provincial Government
 7                                         Not assigned
 8              Islington Avenue, Humber Valley Village
 9                                       Malvern, Rouge
 10                                        Not assigned
 11                                           Don Mills
 12                     Parkview Hill, Woodbine Gardens
 13                            Garden District, Ryerson
 14                                           Glencairn
 15                                        Not assigned
 16                                        Not assigned
 17   West Deane Park, Princess Gardens, Martin Grov...
 18              Rouge Hill, Port Union, Highland Creek
 19                                        Not assigned
 20                                           Don Mills
 21                                    Woodbine Heights
 22                                      St. James Town
 23                                  Humewood-Cedarvale
 24                                        Not assigned
 25                                        Not assigned
 26   Eringate, Bloordale Gardens, Old Burnhamthorpe...
 27                   Guildwood, Morningside, West Hill
 28                                        Not assigned
 29                                        Not assigned
 ..                                                 ...
 150                                       Not assigned
 151                             Alderwood, Long Branch
 152                Northwest, West Humber - Clairville
 153                                        Upper Rouge
 154                                       Not assigned
 155                                       Not assigned
 156                        St. James Town, Cabbagetown
 157             First Canadian Place, Underground city
 158                                       Not assigned
 159                                       Not assigned
 160      The Kingsway, Montgomery Road, Old Mill North
 161                                       Not assigned
 162                                       Not assigned
 163                                       Not assigned
 164                                       Not assigned
 165                               Church and Wellesley
 166                                       Not assigned
 167                                       Not assigned
 168  Business reply mail Processing Centre, South C...
 169  Old Mill South, King's Mill Park, Sunnylea, Hu...
 170                                       Not assigned
 171                                       Not assigned
 172                                       Not assigned
 173                                       Not assigned
 174                                       Not assigned
 175                                       Not assigned
 176                                       Not assigned
 177                                       Not assigned
 178  Mimico NW, The Queensway West, South of Bloor,...
 179                                       Not assigned

 [180 rows x 3 columns],
                                                   0   \
 0                                                NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NL
 3                                                  A

                                                   1   \
 0                              Canadian postal codes
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NS
 3                                                  B

                                                   2    3    4    5    6    7   \
 0                                                NaN  NaN  NaN  NaN  NaN  NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...  NaN  NaN  NaN  NaN  NaN
 2                                                 PE   NB   QC   QC   QC   ON
 3                                                  C    E    G    H    J    K

     8    9    10   11   12   13   14   15     16   17
 0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 2   ON   ON   ON   ON   MB   SK   AB   BC  NU/NT   YT
 3    L    M    N    P    R    S    T    V      X    Y  ,
    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
 0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
 1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y]

In [3]:
#Check number of tables in scrape
len(scrape_of_postal_codes)

3

In [4]:
#Get first table in scrape
postal_codes = scrape_of_postal_codes[0]

#Verify that postal_codes is a dataframe and show info about column data types 
postal_codes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
Postal Code      180 non-null object
Borough          180 non-null object
Neighbourhood    180 non-null object
dtypes: object(3)
memory usage: 4.3+ KB

In [5]:
#Show first 5 rows in dataframe
postal_codes.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

### Drop all rows of dataframe where burrough is unassigned (check that all neighbourhoods and burroughs are assigned)

In [6]:
import numpy as np

# replace "Not assigned" to NaN
postal_codes.replace("Not assigned", np.nan, inplace = True)
postal_codes.head()

  Postal Code           Borough              Neighbourhood
0         M1A               NaN                        NaN
1         M2A               NaN                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [7]:
#Number of postal codes with unassigned burroughs or neighbourhoods
print('Number of postal codes with unassigned burrough', postal_codes['Borough'].isnull().sum())
print('Number of postal codes with unassigned neighbourhood', postal_codes['Neighbourhood'].isnull().sum())

Number of postal codes with unassigned burrough 77
Number of postal codes with unassigned neighbourhood 77

In [8]:
#Drop all rows where Borough is NaN and reset index
postal_codes.dropna(subset=["Borough"], axis=0, inplace=True)
postal_codes.reset_index(drop=True, inplace=True)


#Number of postal codes with unassigned burroughs or neighbourhoods
print('Number of postal codes with unassigned burrough', postal_codes['Borough'].isnull().sum())
print('Number of postal codes with unassigned neighbourhood', postal_codes['Neighbourhood'].isnull().sum())

postal_codes.head()

Number of postal codes with unassigned burrough 0
Number of postal codes with unassigned neighbourhood 0

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### Display shape of postal_codes dataframe

In [9]:
postal_codes.shape

(103, 3)

## 2. Add latitude and longitude coordinates for each neighbourhood to dataframe

### Get lat and long cordinates for postal codes from http://cocl.us/Geospatial_data

In [10]:
postal_codes_lat_long = pd.read_csv('http://cocl.us/Geospatial_data')
postal_codes_lat_long.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### Create a dataframe, toronto_neighbourhoods, from postal_codes and postal_codes_lat_long (merge on 'Postal Code')

In [11]:
toronto_neighbourhoods = pd.merge(postal_codes, postal_codes_lat_long, on = 'Postal Code')
toronto_neighbourhoods.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494